<Settings>
  <EnemyBehavior>RoamArea</EnemyBehavior>
  <PreventSpawnsInBedrollRange>true</PreventSpawnsInBedrollRange>
  <EnableRegularSpawns>true</EnableRegularSpawns>
  <DisableSpecialVultures>true</DisableSpecialVultures>
  <DisableMusic>false</DisableMusic>
  <UseCustomColors>false</UseCustomColors>
  <Colors>
    <Moon>
      <r>1</r>
      <g>0.1</g>
      <b>0.1</b>
      <a>1</a>
    </Moon>
    <MoonLight>
      <r>0.75</r>
      <g>0.1</g>
      <b>0.1</b>
      <a>1</a>
    </MoonLight>
    <SunLight>
      <r>0.3</r>
      <g>0.15</g>
      <b>0</b>
      <a>1</a>
    </SunLight>
    <Sky>
      <r>0.5</r>
      <g>0.25</g>
      <b>0.1</b>
      <a>1</a>
    </Sky>
    <Fog>
      <r>0.1</r>
      <g>0.1</g>
      <b>0.1</b>
      <a>1</a>
    </Fog>
  </Colors>
</Settings>